.div1{
    background-color: antiquewhite;
}
.div2{
    background-color: rgb(208, 96, 216);
}
.div3{
    background-color: rgb(130, 233, 168);
}

.container{
    border: 2px solid cornflowerblue;
    /* Limita o tamnho do elemento */
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    /* Define o tamanho do elemento e o espaço entre eles */
}

.item{
    background-color: bisque;
    margin: 5px;
    text-align: center;
    color: rgb(37, 96, 96);
}

.flex{
    display: flex;
    /* define a direção dos elementos  */
    flex-direction: column;
}

.imagem{
    height: 50px ;
    width: 50px;
}

.div-coluna{
    height: 100px;
    width: 100px;
    background-color: rgb(38, 77, 150);
}

.secao{
    display: flex;
    flex-direction: row;
    background-color: blue;
    /* coloca um espaço entre os  */
    gap: 10px;
}

.secao-imagem{
    width: 150px;
    height: 150px;
}


.alinhar-esquerda{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.alinhar-centro{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alinhar-direita{
    display: flex;
    flex-direction: row;
    /* alinhar os elementos ao centro */
    justify-content: flex-end
}

.alinhar-entre{
    display: flex;
    flex-direction: row;
    /* aloca os elementos nas pontas e ajusta os elementos no centro */
    justify-content: space-between;
}

.alinhar-redor{
    display: flex;
    flex-direction: row;
    /* distribui os itens com espaço ao redor deles */
    justify-content: space-around;
}

.alinhar-coluna{
    display: flex;
    flex-direction: column;
    /* distribui os itens com espaço ao redor deles */
    align-items: center;
        width: 100%;
    background-color: blueviolet;
}

.alinhar-itens-centro{
    display: flex;
    flex-direction: column;
    /* distribui os itens com espaço ao redor deles */
    height: 200px;
    background-color: rgb(142, 60, 230);
    align-items: center;
    justify-content: space-between;
}

.container_card{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}
.card{
    width: 300px;
    border:1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    font-family: Arial, Helvetica, sans-serif;
    /* define configurações da transição */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    /* transform: translateZ(10); */
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4)
}
.cabecalho_card{
    padding: 10px;
    text-align: center;
}
.titulo_card{
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}
.subtitulo_card{ 
    margin: 0;
    font-size: 1rem;
    color: #777;
}
.imagem_card{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagem_card > img{
    max-width: 100%; /* Mantem um limite máximo de tamanho do container*/
    height: 200px; /* mantém a proporção da imagem */
}
.imagem_card > figcaption{
    font-size:  0.8rem;
    padding: 8px;
    text-align: center;
    color: #555;

}
.conteudo_card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
   gap: 0.4rem;
   height: 500px;
}
.rodapé-card{
    background-color: #7d7a7a;
    text-align: center;
    padding: 6px;
}
.botao-card{
    background-color: #50a2d8;
    color: antiquewhite;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 5px 6px;
    text-decoration: none; /* remove a linha que fica em baixo*/

    /* permite definir largura e altura, 
    alinha elementos na mesma linha*/
    display: inline-block; 
}
.botao-card:hover{
    background-color: #98299d;
    width: 110px;
} 
