.banner-container{
    position: relative;
}

.banner  img{
    width: 100%; 
    height: auto;
    object-fit: fill;  /*ajusta imagem */
    max-height: 400px;
}

.banner-text{
    position: absolute;
    top: 50%;
    color: white;
    width: 100%;
    

}

.card{
    flex: 1;
    min-width: 250px !important;
    max-width: 300px !important;
}

.card > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* estilizando formulario */
.form-group{
    flex: 1 1 calc(50% - 20);
}

.form-conatiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* ajustes de responsividade */

/* XL - extra-Grande */
@media(min-width: 768px){

}

/* LG -Grande */
@media(max-width: 1199px){

}


/* MD - Medio */
@media(max-width: 991px){

}


/* SM- Pequeno */
@media(max-width: 768px){
.banner-text h1{
    font-size: 2.0rem;
}
    .card > img{
    height: 150px;
}
}

/* Xs - Extra Pequeno */
@media(max-width: 576px){
    .banner-text h1{
        font-size: 1.5rem;

    }
}

